* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 20px;
}

.h1 {
  text-align: center;
}

.allPostsH1 {
  text-align: center;
}
.allPostsH1 > a {
  text-decoration: none;
}

.start {
  text-decoration: none;
}

.posts {
  text-decoration: none;
}
